# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/

# no need to include the data folder
data/Year 1
data/Year 2

# ignore outlier diagnostic figures
figures/outlier-diagnostics

# ignore R project
*.Rproj

# ignore other unnecessary files
data/OUF-parameters-year-1.xlsx
data/outlier-diagnostics.zip
example_data_*
gps_inventa.csv
/analysis/vickie-code

# ignore files that are > 100 MB
data/Year_1_processed_data.csv
data/Year_2_processed_data.csv
data/movement-states-year-1.rds
data/movement-states-year-2.rds
data/movement-states-years-1-and-2.rds

# merged moving window data with AKDEs
data/years-1-and-2-data-akde.rds
/other-files
models/full-telemetry-movement-models-2024-04-20.rds

# ignore files for future analyses (for now)
analysis/vedba-process.R
data/vedba-data-2021-11-25.csv
/models/old-gams

# HGAMs are too big
models/m_density-hgam.rds
models/m_density-hgamls.rds
models/m_diffusion-hgamls.rds
models/m_hr-hgamls.rds
models/m_speed-hgamls.rds

# ignore GRC poster (only used for reference)
talks/grc-poster.jpg

/data/movement-state-data

# ignore comments on writing
writing/comments
